 

.footer_cover {
    background: #545353;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    font-size: 12px;
}

.footer_cover p {
    padding: 0;
    margin: 0;
}
.sign_in_btn {
    text-align: center;
}

.sign_in_modal .MuiFormControl-root {
    margin-bottom: 20px;
}

.categories_wrap h2 {
    text-align: center;
}

.categories_wrap {
    margin: 50px 0;
}

.products_cover h2 {
    text-align: center;
}

.parallax_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax_inner {
    position: absolute;
    background: #4d4d4b3d;
    width: 80%;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.footer-top {
    background: #c7a58a;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;
}

.logo_sec img {
    width: 100px;
}

.footer_menu ul li {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}