@font-face {
  font-family: 'Neutraface Text';
  src: url('./fonts/NeutrafaceText-Bold.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text';
  src: url('./fonts/NeutrafaceText-BoldItalic.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text Book';
  src: url('./fonts/NeutrafaceText-BookItalic.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text Book';
  src: url('./fonts/NeutrafaceText-Book.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text Demi';
  src: url('./fonts/NeutrafaceText-DemiItalic.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-DemiItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text';
  src: url('./fonts/NeutrafaceText-Light.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text Demi';
  src: url('./fonts/NeutrafaceText-Demi.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface Text';
  src: url('./fonts/NeutrafaceText-LightItalic.woff2') format('woff2'),
      url('./fonts/NeutrafaceText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*{
  font-family:"Neutraface Text" ;
}
:root{
  --base_color:#ddd;
  
}

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
